


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root {
    font-size: 18px;
    font-family: 'Capriola', sans-serif;
    line-height: 1.5;
    --white: #000;
    --green: #FFFBEB;
    --red: #FFFBEB;
    --black: #FFE7CC;
    --shadow-color: rgb(0 0 0, 0.5);
  }
  body {
    background: var(#FFFBEB);
    background-color: #FFFBEB;
    min-width: 360px;
  }
  ._disable-pointer-events {
    pointer-events: none !important;
  }
  .amazing-menu {
    overflow-x: hidden;
  }
  .amazing-menu.-scrolled .menu-item {
    transform: perspective(40rem) translateY(-0.5rem) scaleX(0.95) rotateX(-40deg);
  }
  .menu-item {
    position: relative;
    width: 100%;
    color: var(--white);
    transition: all 210ms cubic-bezier(0.8, 0.1, 0.2, 0.9);
  }
  
  .menu-item .container {
    margin: 0 auto;
    width: 100%;
    max-width: 30rem;
    padding: 2rem 1rem 1rem;
  }
  .menu-item .container:after {
    display: table;
    content: '';
    clear: both;
  }
  .menu-item .icon {
    float: left;
    font-size: 2rem;
    margin-top: -0.5rem;
    margin-right: 0.5rem;
  }
  .menu-item .title {
    float: left;
    text-transform: uppercase;
    font-weight: 600;
  }
  .menu-item .rating {
    float: right;
  }
  .menu-item .rating.-r1 .stars span:nth-of-type(2),
  .menu-item .rating.-r1 .stars span:nth-of-type(3),
  .menu-item .rating.-r1 .stars span:nth-of-type(4),
  .menu-item .rating.-r1 .stars span:nth-of-type(5) {
    opacity: 0.5;
  }
  .menu-item .rating.-r2 .stars span:nth-of-type(3),
  .menu-item .rating.-r2 .stars span:nth-of-type(4),
  .menu-item .rating.-r2 .stars span:nth-of-type(5) {
    opacity: 0.5;
  }
  .menu-item .rating.-r3 .stars span:nth-of-type(4),
  .menu-item .rating.-r3 .stars span:nth-of-type(5) {
    opacity: 0.5;
  }
  .menu-item .rating.-r4 .stars span:nth-of-type(5) {
    opacity: 0.5;
  }
  .menu-item .rating .text {
    font-size: 0.7rem;
    opacity: 0.8;
  }
  .menu-item .arrow {
    float: right;
    margin-left: 0.5rem;
  }
  